
<div class="Teaser">
    <h2>
        Best Parking Teaser
    </h2>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec at rhoncus metus, quis dignissim justo.
        Aliquam erat volutpat. Quisque at justo
        blandit, tempor lacus sit amet, dapibus turpis.
        Nam ut quam ipsum. Sed et tincidunt diam. Ut maximus
        sagittis ligula, at molestie orci lacinia in. Fusce arcu sapien,
        interdum at elit non, rutrum commodo lectus. Nullam pellentesque nunc
        <p>
            @Html.ActionLink("To the Best Parking Form ", "Index", "Analytics")
        </p>
    </div>  
</div>