

<div class="Teaser">
    <h2>
        Map Teaser
    </h2>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec at rhoncus metus, quis dignissim justo.
        Aliquam erat volutpat. Quisque at justo
        blandit, tempor lacus sit amet, dapibus turpis.
        Nam ut quam ipsum. Sed et tincidunt diam. Ut maximus
        <p>
            @Html.ActionLink("Visit the Parkade Map", "Index", "Map")
        </p>
    </div>
</div>