
<div class="Label">
    Start location:
</div>
<p class="gmapStart">

</p>

<div class="Label">
    End location:
</div>
<p class="gmapEnd">

</p>

<div class="Label">
    Distance:
</div>
<p class="gmapDistance">

</p>

<div class="Label">
    Duration:
</div>
<p class="gmapDuration">

</p>

<div class="Label">
    Transport Type:
</div>
<p class="gmapTransport">

</p>
<button type="button" class="btn btn-warning RemoveCalculatedRoute" onClick="RemoveDisplayedRoute();">
    Remove Route »
</button>
<button type="button" class="btn btn-primary gmapMoreInformationLink" href="" onClick="ShowDetailedRoute();">
    Detailed Route »
</button>
