
<div class="routeInformation hidden">
    <div class="iw-content">
        <div class="hidden-xs hidden-sm">
            @Html.Partial("Partial/RouteInformation/InfoWindowRouteDetailInformation")
        </div>
        <div class="hidden-md hidden-lg">
            <a href="" onclick="ScrollTo('#smartphoneViewWrapper');return false;">
                Show Details
            </a>
        </div>
    </div>
</div>


