
<div class="cookie text-center">
    <div class="container">
        <div class="text">
            Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.
           <a href="#" class="cookieClose">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</div>
