@model ParkingFinder.Core.Models.Results.Json.Base.IParkadeModel

<div class="Teaser">
    <h2>
        Favorite Parkade
    </h2>
    <div class="content">
        Sorry .... No Favorite Parakde set
    </div>    
</div>

