@model ParkingFinder.Core.Models.Results.Json.Base.IParkadeModel

<div class="Teaser">
    <h2>
        Favorite Parkade
    </h2>
    <div class="text">
        Found a favorite Parakde
        ID: <b>@Model.Id</b> 
        <br/>
        Nam ut quam ipsum. Sed et tincidunt diam. Ut maximus
        sagittis ligula, at molestie orci lacinia in. Fusce arcu sapien,
        interdum at elit non, rutrum commodo lectus. Nullam pellentesque nunc
        Nam ut quam ipsum. Sed et tincidunt diam. Ut maximus
        sagittis ligula, at molestie orci lacinia in. Fusce arcu sapien,
        interdum at elit non, rutrum commodo lectus. Nullam pellentesque nunc
    </div>
</div>

