.wrapper {
    position: relative;
}

.grayout {
    height: 100%;
    width: 100%;
    opacity: 1.0;
}

.Map {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    height: 650px;
    width: 100%;
}


.iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    /*background-color: #48b5e9;*/
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
}

.iw-container .iw-content {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    border-radius: 2px 2px 0 0;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

.iw-container .routeInformation .iw-content .Label {
    font-weight: bold;
}

.iw-container button, .iw-xs-container button {
    width: 100%;
    margin-bottom: 5px;

}

.iw-xs-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    /*background-color: #48b5e9;*/
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
}

.iw-xs-container .iw-content {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    border-radius: 2px 2px 0 0;
    color: black;
    font-size: 16px;
}

#InfoPlaceholder {
    position: absolute;
    left: 10px;
    top: 115px;
    background-color: white;
    width: 300px;
}

.gmCloseIcon {
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}

#CloseButton {
    font-size: 20px;
    color: black;
}

#SearchBox {
    background-color: #48b5e9;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1002;
    padding: 13px 12px 15px 12px;
    text-align: left;
}

    #SearchBox label {
        display: block;
        text-align: left;
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        line-height: 30px;
        height: 40px;
        display: inline-block;
        vertical-align: baseline;
        position: relative;
        top: 3px;
    }

    #SearchBox #pac-input {
        position: absolute;
        left: 50px !important;
        top: 60px !important;
        width: 200px;
        border: 0px;
        padding-left: 10px;
        height: 32px;
        z-index: 9999;
    }

    #SearchBox #Search {
        font-size: 28px;
        color: black;
        width: 31px;
        height: 32px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 60px;
    }

#Search:hover, #Search:visited, #Search:active {
    text-decoration: none;
}

#LocateMe {
    font-size: 28px;
    top: 60px;
    left: 10px;
    display: inline-block;
    position: absolute;
    color: black;
}

    #LocateMe:hover, #LocateMe:visited, #LocateMe:active {
        text-decoration: none;
    }

#gmapSpinner {
    width: 48px;
    height: 48px;
    overflow: visible;
    position: absolute;
    right: 25px;
    top: 20px;
    z-index: 1005;
    display: none;
    color: #48b5e9;
    font-size: 48px;
    display: none;
}

.category0 {
    background-color: #48b5e9 !important;
}

.category1 {
    background-color: #D94F5A !important;
}

.category2 {
    background-color: #FFBE37 !important;
}

.category3 {
    background-color: #FFE17C !important;
}

.category4 {
    background-color: #58ab45 !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #SearchBox {
        width: 300px;
        height: 90px;
        text-align: left;
    }

        #SearchBox label {
            font-size: 22px;
            line-height: 0px;
            top: 3px;
        }

        #SearchBox #pac-input {
            left: 50px !important;
            top: 45px !important;
            width: 200px;
        }

        #SearchBox #Search {
            top: 45px;
        }

    #LocateMe {
        top: 45px;
    }

    #InfoPlaceholder {
        width: 300px;
        top: 105px;
    }

    #iw-container .iw-title {
        font-size: 18px;
        font-weight: 300;
    }

    #iw-container .iw-content {
        font-size: 14px;
        font-weight: 100;
    }

    .Map {
        height: 600px;
    }
}

/* Extra Small devices (smartphone, 768px and up) */
@media (max-width: 767px) {
    #SearchBox {
        width: 250px;
        height: 80px;
    }

        #SearchBox label {
            font-size: 20px;
            line-height: 0px;
            top: 2px;
        }

        #SearchBox #pac-input {
            left: 50px !important;
            top: 40px !important;
            width: 150px;
        }

        #SearchBox #Search {
            top: 40px;
        }

    #LocateMe {
        top: 40px;
    }

    #InfoPlaceholder {
        top: 95px;
        width: 250px;
    }

    #iw-container .iw-title {
        font-size: 16px;
        font-weight: 300;
    }

    #iw-container .iw-content {
        font-size: 12px;
        font-weight: 100;
    }

    .Map {
        height: 500px;
    }
}
